/* --------- adjustment --------- */
/* --------- base --------- */
html {
  width: 100%;
  height: 100%;
  font-size: 100.01%;
}
body {
  font: 14px/1.41 "MyriadProRegular";
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}
.container {
  width: 1080px;
  margin: 0 auto;
  position: relative;
  background: url("../img/bg.png");
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 1100px;
}
.wrapper:after {
  content: " ";
  display: block;
  position: relative;
  height: 140px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin: 0;
}
footer {
  position: relative;
  margin-top: -140px;
  height: 140px;
  max-width: 1100px;
}
@media only screen and (max-width: 950px) {
  .container {
    width: 940px;
  }
  .page {
    width: 600px;
  }
}
@media only screen and (max-width: 490px) {
  .container {
    width: 320px;
  }
}
