footer.footer
    .cont
        .cont__info © 2015 Группа компаний <p> «МИЦ»
        .cont__info.c1 Создание <p> сайта
             .a(href="#").cont__info-link qb-interactive
        .cont__info и <a(href="#" class = "cont__info-link"> AZTEK</a>

