.log
    .log__satebar
        .log__satebar-img
        .a(href="#").log__satebar-logo
            img(src="../../img/logo.png").log__satebar-logo_img
            span.log__satebar-logo_text

