.navigation

      ul.navigation__list
          li.navigation__item
            a(href="#").navigation_link.a0
          li.navigation__item
             a(href="#").navigation_link.a1
          li.navigation__item
             a(href="#").navigation_link.a2
          li.navigation__item
             a(href="#").navigation_link.a3
          li.navigation__item
              a(href="#").navigation_link.a4
      ul.navigation__list
          li.navigation__item
              a(href="#").navigation_link.b0
          li.navigation__item
              a(href="#").navigation_link.b1

